@use 'variables' as v;

.card{
   
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background-color: v.$color2;
    box-shadow: 3px 3px 10px ;
    padding: 48px 12px 12px ;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &__name{
        background-color: v.$color1;
        text-align: center;
        color: v.$color6;
        width: 140px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;


    }
    &__circle{
        background-color: v.$color4;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        left: 24px;
       

    }
    &__img{
        position: absolute;
        z-index: 1;
        width: 95%;

    }

}

@media only screen and (max-width: v.$firstBreak ) {
    /* For desktop: */
    .card {
        width: 150px;
        height: 200px;
        margin-top: 80px;
        right: auto;
        
    }
    .card__circle{
        background-color: v.$color4;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: 48px;
        left: 20px;

    }
    .card__name{                 
        width: 100px;            
  }

}